<h1 class="text-center"><%= @task.title %></h1>
<div class="container mt-3">
  <p class="text-center "><%= @task.description %></p>
  <% if user_signed_in? %>
    <span class="btn btn-outline-primary">
      <%= link_to "Edit", edit_task_path(@task) %>
    </span>
    <% if current_user.admin? %>
      <span class="btn btn-outline-primary">
          <%= link_to "Destroy", task_path(@task),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
      </span>
    <% end %>
  <% end %>
</div>

<h2>Comments</h2>
<%= render @task.comments %>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>